{
  "apps" : [{
    "name"        : "rest-api",
    "script"      : "index.js",
    "args"        : [],
    "node_args"   : "--harmony",
    "merge_logs"  : true,
    "cwd"         : "/vagrant/rest-service/",
    "env": {
      "NODE_ENV": "production",
      "SENDGRID_KEY": "SENDGRID_KEY"
    }
  },{
    "name"        : "media-service",
    "script"      : "src/server.js",
    "args"        : [],
    "node_args"   : "--harmony",
    "merge_logs"  : true,
    "cwd"         : "/vagrant/spred-media-server/",
    "env": {
      "NODE_ENV": "production"
    }
  },{
    "name"        : "web-app",
    "script"      : "bundler",
    "exec_interpreter": "ruby",
    "exec_mode"  : "fork_mode",
    "args"        : "exec ./start.sh",
    "merge_logs"  : true,
    "cwd"         : "/vagrant/web-app/",
    "env": {
      "ALGOLIA_APP_ID": "",
      "ALGOLIA_READ_KEY": "",
      "WEB_CLIENT_ID": "",
      "WEB_CLIENT_SECRET": "",
      "WEB_PORT": "",
      "API_SCHEME": "",
      "API_URL": "",
      "WEB_SSL_KEY": "",
      "WEB_SSL_CERT": "",
      "RACK_ENV": "production"
    },{
      "name"        : "blog",
      "script"      : "bundler",
      "exec_interpreter": "ruby",
      "exec_mode"  : "fork_mode",
      "args"        : "exec jekyll serve --port 8081 --host 0.0.0.0",
      "merge_logs"  : true,
      "cwd"         : "/vagrant/blog/",
      "env": {
        "ALGOLIA_APP_ID": "",
        "ALGOLIA_READ_KEY": "",
        "WEB_CLIENT_ID": "",
        "WEB_CLIENT_SECRET": "",
        "WEB_PORT": "",
        "API_SCHEME": "",
        "API_URL": "",
        "WEB_SSL_KEY": "",
        "WEB_SSL_CERT": "",
        "RACK_ENV": "production"
      }
  }]
}
